@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", Georgia, serif;
  
  /* Custom Colors */
  --color-ice-50: #F9FAFB;  /* Gelo Claro */
  --color-ice-100: #F3F4F6; /* Gelo Médio */
  --color-ice-200: #E5E7EB; /* Gelo Escuro */
  
  --color-wine-500: #BE123C; /* Vinho Claro */
  --color-wine-700: #9F1239; /* Vinho Médio */
  --color-wine-900: #881337; /* Vinho Escuro */
  --color-wine-950: #4C0519; /* Vinho Profundo */
}

body {
  @apply bg-ice-50 text-stone-800 font-sans font-medium;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-ice-100);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d6d3d1; /* stone-300 */
  border-radius: 5px;
  border: 2px solid var(--color-ice-100);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-wine-500);
}
